.navbar {
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  width: 100%;
}

.navbarbutton {
  flex-grow: 1;
}

.dayviewbox {
  width: 100%;
  height: 500px;
}

.dayviewcontrols {
  width: 100%;
  margin: 10px;
}

.dayviewchart {
  width: 100%;
  height: 100%;
}

.timeline {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.timestamp {
  text-align: center;
}